#section1 {
	}

#section2 {
background: url("chakra.jpg") no-repeat;
background-size: cover;

}


video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background: url(show.mp4) no-repeat;
background-size: cover;
}

div.effort1 {
font-family: Agenda-Light,Agenda\ Light,Agenda,Arial\ Narrow,sans-serif;
font-weight: 100;
background: rgba(0,0,0,.5);
color: #FFF;
padding: 2rem;
width: 33%;
margin: 2rem;
float: left;
font-size: 2rem;
}

h1 {
	font-size: 100px;
	font-family: "Verdana";
}

#menucontainer {
background: rgba(0,0,0,.5);
width: 10.5%;
top: 20px;
float: left;
}

#logo {
background: url(chakra.jpg);
background-size: cover;
text-align: left;
}

#menucontainer ul{
	list-style: none;
	color: #fff;
	font-size: 1.2em;
	padding: .5em;
	}
#menucontainer li {
	padding:.5em;
	}
	
.center {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
	
.clear_element {
    clear: both;
    margin-bottom: 2px;
}
	
	
	/* --FOOTER CSS-- */
	
#footer {
left: 0;
bottom: 0;
width: 100%;
background: rgba(0,0,0,.5);
height: 40px;
padding-top: 1px;
}

#share {
float: left;
display: block;
}

#share li {
float: left;
margin-right: 1px;
}

#footertext_1 {
float: right;
padding: 0 10px;
height: 30px;
line-height: 30px;
color: #cccccc;
}

#footertext_2 {
padding: 0 10px;
height: 30px;
line-height: 30px;
color: #cccccc;
list-style: none;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
	color: #cccccc;
}

/* --NOT USED-- */

#mainmenu {
	margin: 2rem;
	padding:.5em;
	}
	


	